#home {
    	@include flex-display(flex, column, space-between, 100%, center);
     // @include background("../img/Asset 1.jpg", 50% 50%, no-repeat, cover);
    height: 100vh;
    @include media(tablet) {
    	 height: 100vh;
             background:none;
           }
}

#portfolio {
    // padding-top: 2vh; 
    
 height: 100vh;

 // margin-bottom: 200px;

 @include media(tablet) {
              
           }
}


#about {
    padding-top: 8vh;  
    padding-left:10px;
    padding-right:10px;
	@include flex-display(flex, column, space-between, 100%, center);
    // @include background("../img/3.jpg", 50% 50%, no-repeat, cover);
    // display:none;

    height: 100vh;
 // @include media(tablet) { height: 100vh;}
  
}

// #contact {
//     @include background("../img/4.jpg", 50% 50%, no-repeat, cover);
//     // display:none;
//     height: 100vh;
// }



