#home {

	

    @include background("../img/Asset 1.jpg", 50% 50%, no-repeat, cover);
   
}
#portfolio{

    @include background("../img/2.jpg", 50% 50%, no-repeat, cover);
}
#about{
	
    @include background("../img/3.jpg", 50% 50%, no-repeat, cover);
}
#contact{
	
    @include background("../img/4.jpg", 50% 50%, no-repeat, cover);
}
.page{

	height: 100%;
}

.jasem{
	height: 100%;
	@include flex-display(flex,column,space-between,100%,center);
}

