#home {
    @include flex-display(flex, column, space-between, 100%, center);
    height: 100vh;
    @include media(tablet) {
        height: 100vh;
        background: none;
    }
}

#portfolio {
    @include flex-display(flex, column, space-between, 100%, center);
    // height: 100vh;
    @include media(tablet) {
        // height: 100vh;
    }
   
}

#about {
    @include flex-display(flex, column, space-between, 100%, center);
    height: 100vh;
    @include media(tablet) {
      
    }
}
