#home-wrap {
    @include flex-display(flex, column, space-between, 100%, center);
    margin: auto;
    h1 {
        text-align: center;
        @include font-fam-size(5em, $main-font-5, bold, #333333);


    }
    p {
        @include font-fam-size(2em, $main-font-5, bold, #333333);
          border-radius: 50%;
    }
}

#projects {
    @include flex-display(flex, column, space-between, 94%, center);
    @include media(tablet) {
        width: 100%;
        padding-top: 20px;
        margin: auto;
    }
    @include media(laptop) {
        padding-top: 0;
        width: 80%;
        height: 100vh;
    }
    @include media(desktop) {
        width: 80%;
        height: 120vh;
    }
    h1 {
        opacity: 0;
        @include font-fam-size(4.8em, $main-font-5, bold, #333333);
        top: -75px;
        position: relative;
        margin: 8px auto;
        @include media(tablet) {
            opacity: 1;
            top: 0;
        }
        @include media(laptop) {
            margin: 10px auto;
        }
    }
    .works {
        @include flex-display(flex, column, space-between, auto, center);
        padding: 10px 0;
        img {
            height: 120px;
            width: 120px;
            border-radius: 20px;
        }
    }
}

#mobile-portfolio {
    opacity: 0;
    @include flex-display(flex, column, space-around, 100%, center);
    @include media(landscape) {
        @include flex-display(flex, row, space-around, 100%, center);
       
    }
    @include media(tablet) {
        @include flex-display(flex, row, space-around, 100%, center);
        margin-bottom: 10px;
    }
    .last {
        margin-left: 200px;
    }
    .work-mobile {
        display: flex;
        align-items: center;
        margin: 5px auto;
        @include media(landscape) {
        @include flex-display(flex, column, space-around, 20%, center);
       
    }
        @include media(tablet) {
            opacity: 1;
            flex-direction: column;
            width: 20%;
            margin: 0;
        }
        .img-border {
            margin: 10px 0;
            box-shadow: 0 0 0 5px hsl(0, 0%, 70%), 0 0 0 10px hsl(0, 0%, 80%);
            border-radius: 50%;
            @include media(tablet) {
                transition: all .7s;
                margin: 8px 0;
                box-shadow: 0 0 0 5px hsl(0, 0%, 70%), 0 0 0 10px hsl(0, 0%, 80%), 0 0 0 15px hsl(0, 0%, 90%);
                &:hover {
                    box-shadow: 0 0 0 10px hsl(15, 76%, 70%), 0 0 0 20px hsl(30, 76%, 70%), 0 0 0 30px hsl(44, 76%, 70%);
                }
            }
            img {
                width: 80px;
                height: 80px;
                border-radius: 50%;
             
            }
        }
        .caption {
            @include font-fam-size(.7em, $main-font-3, bold, #383838);
            margin: 10px 0;
            padding: 0 20px;
             @include media(landscape) {
                 text-align: center;
                }
            @include media(tablet) {
              
                text-align: center;
                margin: 10px 0 0 0;
            }
        }
    }
   
}

.about-main {
    transition: all .5s;
    @include flex-display(flex, column, space-between, 100%, center);
    margin: auto;
    @include media(tablet) {
        padding: 1em;
    }
    @include media(laptop) {
        width: 80%;
        background-color: #fff;
        width: 60%;
    }
 
  
    .port-head-2 {
        @include font-fam-size(5em, $main-font-5, bold, #333333);
        margin: 0 auto;
    }
    p {
        // @include font-fam-size(0.8em, $main-font-4, 200, #383838);
        font-weight: 800;
        font-size: 0.8em;
        text-align: center;
        margin: 0.5em 0;
        @include media(tablet) {
            font-weight: 600;
            padding: 10px 0;
            font-size: 1em;
            font-weight: 400;
            width: 80%;
        }
    }
    .skills-main {
        @include flex-display(flex, column, space-around, 90%, center);
        .skills-icons {
              opacity: 0;
            transition: all .5s;
            @include flex-display(flex, row, space-around, 100%, center);
            flex-wrap: wrap;
            @include media(tablet) {
                width: 60%
            }
            .logo-skill {
                 width: 38px;
                    height: 40px;
                    margin: 8px;
           
                @include media(landscape) {
                    width: 28px;
                    height: 30px;
                    margin: 6px;
                }
            
                @include media(tablet) {
                    width: 55px;
                    height: 60px;
                    margin: 10px;
                }
            }
        }
    }
}

.contact {
    @include flex-display(flex, column, space-around, 100%, center);
    // padding :10px;
    h3 {
         @include media(landscape) {
                   font-size: 1.5em;
                }
        @include font-fam-size(2.5em, $main-font-5, 200, #333333);
        
    }
    .number-email {

        @include flex-display(flex, row, space-around, 80%, center);
        a {
            @include font-fam-size(1em, $main-font-5, 200, #5B5B5B);
            text-decoration: none;
        }
    }
}
