.carousel-control.right {
    background-image: none;
}

.carousel-control.left {
    background-image: none;
}

#carousel-example-generic {
    display: none;
    @include media(tablet) {
        display: block;
    }
}

.navbar-light .navbar-nav .nav-link {
     color: #333333;
}


.nav-link{
	@include font-fam-size(2em, $main-font-5, bold, #333333);


}

.overlay-contentscale.open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.overlay-contentscale {
    visibility: hidden;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
    transition: transform 0.5s, visibility 0s 0.5s;
}

#overlay {
    @include flex-display(flex, column, flex-start, 100%, center);
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background: $hard-blue-l;
    z-index: 1;
    @include media(tablet) {
        display: none;
    }
    h1 {
        width: 100%;
        background-color: #000000;
        @include font-fam-size(4em, $main-font-5, bold, #EBEBEB);
        margin: 10px auto;
        text-align: center;
    }
    .lay-img {
        height: auto;
        padding: 30px 0;
        img {
            background-color: #CCCCCC;
            width: 100%;
            max-width: 400px;
        }
        p {
            @include font-fam-size(0.8em, $main-font-3, 200, #000);
            width: 80%;
            text-align: center;
            margin: auto;
        }
    }
    ul {
        @include flex-display(flex, row, space-between, 90%, center);
        @include font-fam-size(.7em, $main-font-3, bold, #EBEBEB);
        .tech-title {
            img {
                width: 50px;
                height: 50px;
            }
        }
    }
}

#overlay-desktop {
    display: none;
    @include media(tablet) {
        @include flex-display(flex, column, flex-start, 90%, center);
        img {
            width: 100%;
            height: auto;
        	}
        .title-tech-ov {
            @include flex-display(flex, row, flex-start, 100%);
            .title-ov {
                @include font-fam-size(2.5em, $main-font-5, bold, #333333);
            }
            ul {
                @include flex-display(flex, row, flex-end, 90%, center);
            }
            img {
                width: 35px;
                height: 40px;
                margin: 0 4px;
            }
        }
    }
}
