//bootsrtap corrections 

.panel{
background-color: transparent;
box-shadow: none;
margin-bottom: 0;

}



body {
    position: relative;
   
}

.nav {
    @include flex-display(flex, row, space-around, 100%, center);
    @include media(tablet) {
        padding-top: 10px;
    }
    @include media(laptop) {
        justify-content: flex-start;
    }
}
.navbar-nav{
margin:0;

}

.nav-item a {
    transition: all .5s;
    @include font-fam-size(2em, $main-font-5, bold, #333333);
    @include media(tablet) {
        font-size: 3em;
    }
  
    @include media(desktop) {
        font-size: 4em;
        margin: 20px;
    }
    &:hover {
        color: rgba(0, 0, 0, .3);
    }
}

.active-me a {
    border-radius: 50%;
    background-color: hsl(15, 76%, 60%);
    box-shadow: 0 0 0 5px hsl(15, 76%, 70%), 0 0 0 10px hsl(30, 76%, 70%), 0 0 0 15px hsl(44, 76%, 70%);
    color: #333333;
}

.active-intro {
    background-color: hsl(15, 76%, 60%);
    box-shadow: 0 0 0 15px hsl(15, 76%, 70%), 0 0 0 30px hsl(30, 76%, 70%), 0 0 0 45px hsl(44, 76%, 70%);
    transition: all .5s;
}

.navbar-light .navbar-nav .nav-link {
    color: inherit;
    // padding: 0;
}

.overlay-contentscale.open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.overlay-contentscale {
    visibility: hidden;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
    transition: transform 0.5s, visibility 0s 0.5s;
}

#overlay {
    @include flex-display(flex, column, flex-start, 100%, center);

    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background: $hard-blue-l;
    z-index: 1400;
    @include media(tablet) {
        display: none;
    }
    h1 {
        width: 100%;
        background-color: #000000;
        @include font-fam-size(4em, $main-font-5, bold, #EBEBEB);
        margin: 0 auto;
        text-align: center;
        @include media(landscape) {
            font-size: 2em;
        }
    }
    .lay-img {
        @include flex-display(flex, column, flex-start, 100%, center);
        height: auto;
        padding: 10px 0;
        margin: auto;
        @include media(landscape) {
            padding: 0;
        }
        ul {
            @include flex-display(flex, row, space-around, 80%, center);
            flex-wrap:wrap;
            @include font-fam-size(.7em, $main-font-3, bold, #EBEBEB);
            padding: 20px 0 20px 0;
            @include media(landscape) {}
            .tech-title {
                img {
                    width: 30px;
                    height: 35px;
                    // @include media(landscape) {
                    //     width: 20px;
                    //     height: 25px;
                    // }
                }
            }
        }
    }
}

.img-and-caption {
    @include flex-display(flex, column, space-around, 100%, center);
    @include media(landscape) {
        padding: 10px 0 10px 0;
    }
    img {
        background-color: #CCCCCC;
        width: 100%;
        max-width: 400px;
        padding: 10px 0 10px 0;
        @include media(landscape) {
            width: 55%;
            padding: 10px 0 10px 0;
        }
    }
    p {
        @include font-fam-size(0.8em, $main-font-3, 200, #000);
        width: 80%;
        text-align: center;
         font-size: 0.7em;
        padding: 10px 0 10px 0;
        @include media(landscape) {
            font-size: 0.7em;
            margin: 0;
        }
    }
}

#overlay-desktop {
    display: none;
    @include media(tablet) {
        opacity: 0;
        @include flex-display(flex, column, flex-start, 90%, center);
        .img-holder {
            @include flex-display(flex, column, flex-start, 100%, center);
            margin: 10px auto;
            img {
                width: 100%;
                @include media(laptop) {
                    width: 90%;
                }
                @include media(desktop) {
                    width: 100%;
                }
            }
        }
        img {
            width: 90%;
            @include media(laptop) {
                max-width: 90%;
            }
            @include media(desktop) {
                max-width: 100%;
            }
        }
    }
    p {
        @include font-fam-size(1.2em, $main-font, 400, #383838);
        margin: 10px 0;
        text-align: center;
        // font-weight: 400;
        @include media(laptop) {
          
            width: 80%;
        }
    }
    .title-tech-ov {
        @include flex-display(flex, row, space-between, 100%);
        .title-ov {
            @include font-fam-size(2em, $main-font-5, bold, #333333);
            @include media(tablet) {
                @include font-fam-size(2em, $main-font-5, bold, #333333);
            }
            @include media(laptop) {
                @include font-fam-size(3em, $main-font-5, bold, #333333);
            }
        }
        ul {
            @include flex-display(flex, row, flex-end, 80%, center);
        }
        img {
            width: 40px;
            height: 45px;
            margin: 0 4px;
            @include media(laptop) {
             
            }
        }
    }
     @include media(desktop) {
        width: 70%;
    }
}


// .video-background {
//   background: #fff;
//   position: fixed;
//   top: 0; right: 0; bottom: 0; left: 0;
//   z-index: -99;
// }
// .video-foreground{
//      background: #fff;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   pointer-events: none;
 
// }
// .video-background iframe {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   pointer-events: none;
//   opacity: 0.5;

// }









