body {
    position: relative;
}

.nav {
    @include flex-display(flex, row, space-around, 100%, center);
    @include media(tablet) {
        padding-top: 10px;
    }
    @include media(laptop) {
        justify-content: flex-start;
    }
}

.nav-item a {
    transition: all .5s;
    @include font-fam-size(2em, $main-font-5, bold, #333333);
    @include media(laptop) {
        font-size: 2.7em;
    }
    @include media(desktop) {
        font-size: 3em;
    }
    &:hover {
        color: rgba(0, 0, 0, .3);
    }
}

.active-me a {
    border-radius: 50%;
    background-color: hsl(15, 76%, 60%);
        box-shadow: 0 0 0 5px hsl(15, 76%, 70%), 0 0 0 10px hsl(30, 76%, 70%), 0 0 0 15px hsl(44, 76%, 70%);
    color: #333333;

}
.active-intro{
     
    background-color: hsl(15, 76%, 60%);
        box-shadow: 0 0 0 15px hsl(15, 76%, 70%), 0 0 0 30px hsl(30, 76%, 70%), 0 0 0 45px hsl(44, 76%, 70%);
          transition: all .5s;
}

.navbar-light .navbar-nav .nav-link {
    color: inherit;
    padding: 0;
}

.overlay-contentscale.open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.overlay-contentscale {
    visibility: hidden;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
    transition: transform 0.5s, visibility 0s 0.5s;
}

#overlay {
    @include flex-display(flex, column, flex-start, 100%, center);
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background: $hard-blue-l;
    z-index: 1400;
    @include media(tablet) {
        display: none;
    }
    h1 {
        width: 100%;
        background-color: #000000;
        @include font-fam-size(4em, $main-font-5, bold, #EBEBEB);
        margin: 10px auto;
        text-align: center;
        @include media(landscape) {
            font-size: 2em;
        }
    }
    .lay-img {
        @include flex-display(flex, column, flex-start, 100%, center);
        height: auto;
        padding: 10px 0;
        margin: auto;
        @include media(landscape) {
            padding: 0;
        }
        ul {
            @include flex-display(flex, row, space-around, 80%, center);
            @include font-fam-size(.7em, $main-font-3, bold, #EBEBEB);
            @include media(landscape) {}
            .tech-title {
                img {
                    width: 30px;
                    height: 35px;
                    @include media(landscape) {
                        width: 20px;
                        height: 25px;
                    }
                }
            }
        }
    }
}

.img-and-caption {
    @include flex-display(flex, column, space-around, 100%, center);
    @include media(landscape) {}
    img {
        background-color: #CCCCCC;
        width: 100%;
        max-width: 400px;
        @include media(landscape) {
            width: 55%;
        }
    }
    p {
        @include font-fam-size(0.8em, $main-font-3, 200, #000);
        width: 80%;
        text-align: center;
        margin: 10px auto;
        @include media(landscape) {
            font-size: 0.7em;
            margin: 0;
        }
    }
}

#overlay-desktop {
    display: none;
    @include media(tablet) {
       
        opacity: 0;
        @include flex-display(flex, column, flex-start, 90%, center);
        .img-holder{
            // @include flex-display(flex, column, flex-start, 100%, center);

              img {
             max-width: 90%;
            @include media(smallDesktop) {
                max-width: 70%;
            }

            @include media(laptop) {
                 max-width: 90%;
            }
            @include media(desktop) {
                max-width: 100%;
            }
        }

        }
      
        p {
            margin-bottom: 0;
            text-align: center;
            font-weight: 400;
            @include media(laptop) {
                margin: 10px 0;
                width: 80%;
            }
        }
        .title-tech-ov {
            @include flex-display(flex, row, space-between, 100%);
            .title-ov {
                @include font-fam-size(2em, $main-font-5, bold, #333333);
                @include media(tablet) {
                    @include font-fam-size(2em, $main-font-5, bold, #333333);
                }
            }
            ul {
                @include flex-display(flex, row, flex-end, 80%, center);
            }
            img {
                width: 40px;
                height: 45px;
                margin: 0 4px;
                @include media(laptop) {
                    width: 30px;
                    height: 35px;
                }
            }
        }
    }
    @include media(desktop) {
        width: 70%;
    }
}
