.panel {
    // height: 100vh;
   
    
}


#carousel-example-generic{
display:none;

	@include media(tablet) {
              display:block;
           }
}


.overlay-contentscale.open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.overlay-contentscale {
    visibility: hidden;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
    transition: transform 0.5s, visibility 0s 0.5s;
}

#overlay {
    @include flex-display(flex, column, space-between, 100%, center);
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background: $text-black-l;
    z-index: 1;

    h1{
    	@include font-fam-size(2em, $main-font-5, bold, #5B5B5B);

    }
    img{
    	width: 300px;
    	height: 300px;
    }
    p{

    }

}