body {
     position: relative;
}


.nav{
@include flex-display(flex, row, space-around, 100%, center);

   @include media(tablet) {
         padding-top: 10px;
        }

}
.navbar-light .navbar-nav .nav-link {
    // color: #333333;


}

.nav-item a {

    transition: all .5s;
    @include font-fam-size(2em, $main-font-5, bold, #333333);
    &:hover{
        color: rgba(0,0,0,.3);
    }
}
.active-me a {
    border-radius: 50%;
    background-color: hsl(15, 76%, 70%);
    // font-size: 2.4em;

    color: #333333;
    box-shadow: 0 0 0 5px hsl(15, 76%, 70%), 0 0 0 10px hsl(30, 76%, 70%), 0 0 0 15px hsl(44, 76%, 70%);

}
.navbar-light .navbar-nav .nav-link {
    color: inherit;
    padding: 0;
}


.overlay-contentscale.open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.overlay-contentscale {
    visibility: hidden;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
    transition: transform 0.5s, visibility 0s 0.5s;
}

#overlay {
    @include flex-display(flex, column, flex-start, 100%, center);
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background: $hard-blue-l;
    z-index: 1400;
    @include media(tablet) {
        display: none;
    }
    h1 {
        width: 100%;
        background-color: #000000;
        @include font-fam-size(4em, $main-font-5, bold, #EBEBEB);
        margin: 10px auto;
        text-align: center;
    }
    .lay-img {
        height: auto;
        padding: 30px 0;
        img {
            background-color: #CCCCCC;
            width: 100%;
            max-width: 400px;
        }
        p {
            @include font-fam-size(0.8em, $main-font-3, 200, #000);
            width: 80%;
            text-align: center;
            margin: 20px auto;
        }
    }
    ul {
        @include flex-display(flex, row, space-around, 80%, center);
        @include font-fam-size(.7em, $main-font-3, bold, #EBEBEB);
        .tech-title {
            img {
                width: 40px;
                height: 45px;
            }
        }
    }
}

#overlay-desktop {
    display: none;
    @include media(tablet) {
    	opacity: 0;
        @include flex-display(flex, column, flex-start, 90%, center);
        img {
            width: 100%;
            height: auto;
        }
        p{
            margin-bottom: 0;
            text-align: center;
        }
        .title-tech-ov {
            @include flex-display(flex, row, space-between, 100%);
            .title-ov {
               
                @include font-fam-size(2em, $main-font-5, bold, #333333);
                @include media(tablet) {
          @include font-fam-size(2em, $main-font-5, bold, #333333);
        }
            }
            ul {
                @include flex-display(flex, row, flex-end, 80%, center);
            }
            img {
                width: 40px;
                height: 45px;
                margin: 0 4px;
            }
        }
    }
}


